.anchorPane {
    -fx-background-color: #242322;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Gill Sans MT";
    -fx-font-size: 14;
}

.button {
    -fx-background-color: #221cd4;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, #221cd4, 20, 0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-family: "Gill Sans MT";
    -fx-font-size: 14;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: #4049f7;
    -fx-cursor: hand;
}

.exitButton {
    -fx-background-color: #910606;
    -fx-effect: dropshadow(three-pass-box, #910606, 25, 0, 0, 0);
}

.exitButton:hover {
    -fx-background-color: #d60b0b;
    -fx-cursor: hand;
}

.deleteButton {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.deleteButton:hover {
    -fx-background-color: #f54747;
    -fx-cursor: hand;
}

.exportCSVButton {
    -fx-background-color: #21913f;
    -fx-effect: dropshadow(three-pass-box, #21913f, 25, 0, 0, 0);
}

.exportCSVButton:hover {
    -fx-background-color: #42bd63;
    -fx-cursor: hand;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #3677f7;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #0f47b8; /* Cadet Blue */
    -fx-text-fill: white;
}

.combo-box .arrow-button {
    -fx-background-color: #221cd4;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box .text-field {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.combo-box {
    -fx-background-color: #0a5afa;
    -fx-effect: dropshadow(three-pass-box, #0a5afa, 20, 0, 0, 0);
    -fx-font-weight: bold;
}

.textField {
    -fx-background-color: #0a5afa;
    -fx-effect: dropshadow(three-pass-box, #0a5afa, 25, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-border-width: 2px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 0;
}

.table-view .column-header {
    -fx-background-color: #221cd4;
    -fx-border-color: white;
}

.table-view .table-column {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #063799;
    -fx-text-fill: white;
}

.deleteColumn {
    -fx-alignment: center;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #ff5722 0%, #4caf50 100%);
}

.slider .thumb {
    -fx-background-color: white;
}